In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
datos=pd.read_csv('200809COVID19MEXICO.csv', encoding='latin1')

In [4]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1091695 entries, 0 to 1091694
Data columns (total 35 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   FECHA_ACTUALIZACION  1091695 non-null  object
 1   ID_REGISTRO          1091695 non-null  object
 2   ORIGEN               1091695 non-null  int64
 3   SECTOR               1091695 non-null  int64
 4   ENTIDAD_UM           1091695 non-null  int64
 5   SEXO                 1091695 non-null  int64
 6   ENTIDAD_NAC          1091695 non-null  int64
 7   ENTIDAD_RES          1091695 non-null  int64
 8   MUNICIPIO_RES        1091695 non-null  int64
 9   TIPO_PACIENTE        1091695 non-null  int64
 10  FECHA_INGRESO        1091695 non-null  object
 11  FECHA_SINTOMAS       1091695 non-null  object
 12  FECHA_DEF            1091695 non-null  object
 13  INTUBADO             1091695 non-null  int64
 14  NEUMONIA             1091695 non-null  int64
 15  EDAD                 1091695 non-null  int64
 16  NACIONALIDAD         1091695 non-null  int64
 17  EMBARAZO             1091695 non-null  int64
 18  HABLA_LENGUA_INDIG   1091695 non-null  int64
 19  DIABETES             1091695 non-null  int64
 20  EPOC                 1091695 non-null  int64
 21  ASMA                 1091695 non-null  int64
 22  INMUSUPR             1091695 non-null  int64
 23  HIPERTENSION         1091695 non-null  int64
 24  OTRA_COM             1091695 non-null  int64
 25  CARDIOVASCULAR       1091695 non-null  int64
 26  OBESIDAD             1091695 non-null  int64
 27  RENAL_CRONICA        1091695 non-null  int64
 28  TABAQUISMO           1091695 non-null  int64
 29  OTRO_CASO            1091695 non-null  int64
 30  RESULTADO            1091695 non-null  int64
 31  MIGRANTE             1091695 non-null  int64
 32  PAIS_NACIONALIDAD    1091695 non-null  object
 33  PAIS_ORIGEN          1091695 non-null  object
 34  UCI                  1091695 non-null  int64
dtypes: int64(28), object(7)
memory usage: 291.5+ MB

In [5]:
datos.head()

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2020-08-09,11c49c,2,3,2,1,2,2,2,1,...,2,2,2,2,1,1,99,MÃ©xico,99,97
1,2020-08-09,144935,2,3,2,2,26,2,2,1,...,2,2,2,2,1,1,99,MÃ©xico,99,97
2,2020-08-09,1bf200,2,4,9,1,9,9,15,2,...,2,2,2,2,99,1,99,MÃ©xico,99,2
3,2020-08-09,010133,2,4,26,1,26,26,55,1,...,2,2,2,2,99,1,99,MÃ©xico,99,97
4,2020-08-09,1a1635,2,3,15,2,15,15,33,2,...,2,1,2,2,1,1,99,MÃ©xico,99,2

In [6]:
datos.drop(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'HABLA_LENGUA_INDIG', 'PAIS_NACIONALIDAD', 'PAIS_ORIGEN', 'UCI'], axis = 1, inplace = True)
datos.head()

,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,...,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE
0,2,3,2,1,2,2,2,1,2020-05-18,2020-05-15,...,2,1,2,2,2,2,2,1,1,99
1,2,3,2,2,26,2,2,1,2020-05-26,2020-05-22,...,2,2,2,2,2,2,2,1,1,99
2,2,4,9,1,9,9,15,2,2020-04-09,2020-04-09,...,2,1,2,2,2,2,2,99,1,99
3,2,4,26,1,26,26,55,1,2020-03-23,2020-03-12,...,2,2,2,2,2,2,2,99,1,99
4,2,3,15,2,15,15,33,2,2020-05-24,2020-05-20,...,2,2,2,2,1,2,2,1,1,99

In [7]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1091695 entries, 0 to 1091694
Data columns (total 29 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   ORIGEN          1091695 non-null  int64
 1   SECTOR          1091695 non-null  int64
 2   ENTIDAD_UM      1091695 non-null  int64
 3   SEXO            1091695 non-null  int64
 4   ENTIDAD_NAC     1091695 non-null  int64
 5   ENTIDAD_RES     1091695 non-null  int64
 6   MUNICIPIO_RES   1091695 non-null  int64
 7   TIPO_PACIENTE   1091695 non-null  int64
 8   FECHA_INGRESO   1091695 non-null  object
 9   FECHA_SINTOMAS  1091695 non-null  object
 10  FECHA_DEF       1091695 non-null  object
 11  INTUBADO        1091695 non-null  int64
 12  NEUMONIA        1091695 non-null  int64
 13  EDAD            1091695 non-null  int64
 14  NACIONALIDAD    1091695 non-null  int64
 15  EMBARAZO        1091695 non-null  int64
 16  DIABETES        1091695 non-null  int64
 17  EPOC            1091695 non-null  int64
 18  ASMA            1091695 non-null  int64
 19  INMUSUPR        1091695 non-null  int64
 20  HIPERTENSION    1091695 non-null  int64
 21  OTRA_COM        1091695 non-null  int64
 22  CARDIOVASCULAR  1091695 non-null  int64
 23  OBESIDAD        1091695 non-null  int64
 24  RENAL_CRONICA   1091695 non-null  int64
 25  TABAQUISMO      1091695 non-null  int64
 26  OTRO_CASO       1091695 non-null  int64
 27  RESULTADO       1091695 non-null  int64
 28  MIGRANTE        1091695 non-null  int64
dtypes: int64(26), object(3)
memory usage: 241.5+ MB

In [8]:
datos.drop(['ORIGEN', 'SECTOR', 'ENTIDAD_NAC', 'NACIONALIDAD', 'EMBARAZO'], axis = 1, inplace = True)
datos.head()

,ENTIDAD_UM,SEXO,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,...,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE
0,2,1,2,2,1,2020-05-18,2020-05-15,9999-99-99,97,2,...,2,1,2,2,2,2,2,1,1,99
1,2,2,2,2,1,2020-05-26,2020-05-22,9999-99-99,97,2,...,2,2,2,2,2,2,2,1,1,99
2,9,1,9,15,2,2020-04-09,2020-04-09,9999-99-99,2,2,...,2,1,2,2,2,2,2,99,1,99
3,26,1,26,55,1,2020-03-23,2020-03-12,9999-99-99,97,1,...,2,2,2,2,2,2,2,99,1,99
4,15,2,15,33,2,2020-05-24,2020-05-20,2020-06-12,1,1,...,2,2,2,2,1,2,2,1,1,99

In [9]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1091695 entries, 0 to 1091694
Data columns (total 24 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   ENTIDAD_UM      1091695 non-null  int64
 1   SEXO            1091695 non-null  int64
 2   ENTIDAD_RES     1091695 non-null  int64
 3   MUNICIPIO_RES   1091695 non-null  int64
 4   TIPO_PACIENTE   1091695 non-null  int64
 5   FECHA_INGRESO   1091695 non-null  object
 6   FECHA_SINTOMAS  1091695 non-null  object
 7   FECHA_DEF       1091695 non-null  object
 8   INTUBADO        1091695 non-null  int64
 9   NEUMONIA        1091695 non-null  int64
 10  EDAD            1091695 non-null  int64
 11  DIABETES        1091695 non-null  int64
 12  EPOC            1091695 non-null  int64
 13  ASMA            1091695 non-null  int64
 14  INMUSUPR        1091695 non-null  int64
 15  HIPERTENSION    1091695 non-null  int64
 16  OTRA_COM        1091695 non-null  int64
 17  CARDIOVASCULAR  1091695 non-null  int64
 18  OBESIDAD        1091695 non-null  int64
 19  RENAL_CRONICA   1091695 non-null  int64
 20  TABAQUISMO      1091695 non-null  int64
 21  OTRO_CASO       1091695 non-null  int64
 22  RESULTADO       1091695 non-null  int64
 23  MIGRANTE        1091695 non-null  int64
dtypes: int64(21), object(3)
memory usage: 199.9+ MB